body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 90%;
  margin: auto;

}
.btn {
  margin: 10px;
  display: inline-block;
  height: 130px;
  width: 130px;
  border: 10px solid black;
  border-radius: 20%;
}

.btn1 {
  margin: 10px;
  display: inline-block;
  height: 130px;
  width: 130px;
  border: 10px solid black;
  border-radius: 50%;
}
.bisque{
  justify-content: center;
  background-color: bisque;
  
}
.Enter{
  font-family: 'Press Start 2P', cursive;
  width: 100px;
  height: 50px;
  margin:  2%;
  color: #FEF2BF;
  background-color: aqua;
  
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

